<?xml version="1.0"?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="YYTService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</sectionGroup>
  </configSections>

	<appSettings>
		<add key="basePath" value="D:/YingYeTing/WebSite/" />
		<add key="uploadImagePath" value="Content/UploadFiles/PlacePhoto/" />
		<add key="siteUrl" value="http://116.112.15.30/" />
	</appSettings>

  <connectionStrings configSource="ConnStrings.config"/>

  <system.web>
	<compilation debug="true" targetFramework="4.0"/>
	<authentication mode="None"/>
	<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>



  <system.serviceModel>
	<bindings>
	  <webHttpBinding>
		<binding transferMode="Streamed"
						 name="newtonsoftJsonBinding"
						 contentTypeMapper="YYTService.Json.NewtonsoftJsonContentTypeMapper, YYTService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						 maxBufferSize="204822000"
						 maxReceivedMessageSize="204822000"
						 maxBufferPoolSize="204822000">
		  <readerQuotas maxDepth="204822000"
						maxStringContentLength="204822000"
						maxBytesPerRead="204822000"
						maxNameTableCharCount="204822000"
						maxArrayLength="204822000"/>
		</binding>
	  </webHttpBinding>
	</bindings>

	<services>
	  <service behaviorConfiguration="YYTService.ServiceBehavior" name="YYTService.Service">
		<endpoint
					address=""
					behaviorConfiguration="newtonsoftJsonBehavior"
					binding="webHttpBinding"
					bindingConfiguration="newtonsoftJsonBinding"
					contract="YYTService.IService">
		</endpoint>
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
	  </service>
	</services>

	<behaviors>
	  <endpointBehaviors>
		<behavior name="newtonsoftJsonBehavior">
		  <webHttp defaultOutgoingResponseFormat="Json"/>
		  <newtonJsonBehaviorExtension/>
		</behavior>
	  </endpointBehaviors>
	  <serviceBehaviors>
		<behavior name="YYTService.ServiceBehavior">
		  <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
		  <serviceDebug includeExceptionDetailInFaults="true" />
		</behavior>
	  </serviceBehaviors>
	</behaviors>

	<extensions>
	  <behaviorExtensions>
		<add name="newtonJsonBehaviorExtension" type="YYTService.Json.NewtonsoftJsonBehaviorExtension, YYTService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	  </behaviorExtensions>
	</extensions>

  </system.serviceModel>

	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>